<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Aviso</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 horas atrás</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>SiTef fora do ar.</p>
                </div>
            </div>
        </li>           
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Aviso</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2 horas atrás</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Nova tabela de preços disponível.</p>
                </div>
            </div>
        </li>        
    </ul>
</div>
